@model MasterDataViewModel
@{
    ViewData["Title"] = "MasterData";
}

<h2>Stammdaten</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Länder</h3>
        <div>
            <a asp-action="Create" asp-controller="Country"><img id="iconSize" src="~/images/Document/AddNews.png" title="Erstellen" /></a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryList.First().Name)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CountryList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="Country" asp-action="Edit" asp-route-id="@item.Id"><img id="iconSize" src="~/images/Document/EditNews.png" title="Bearbeiten" /></a> |
                        <a asp-controller="Country" asp-action="Delete" asp-route-id="@item.Id"><img id="iconSize" src="~/images/Document/DeleteNews.png" title="Löschen" /></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Kontinente</h3>
        <div>
            <a asp-action="Create" asp-controller="Continent"><img id="iconSize" src="~/images/Document/AddNews.png" title="Erstellen" /></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContinentList.First().Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ContinentList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-controller="Continent" asp-action="Edit" asp-route-id="@item.Id"><img id="iconSize" src="~/images/Document/EditNews.png" title="Bearbeiten" /></a> |
                            <a asp-controller="Continent" asp-action="Delete" asp-route-id="@item.Id"><img id="iconSize" src="~/images/Document/DeleteNews.png" title="Löschen" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

